@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #d9e5f3;
  min-height: 100vh;
  position: relative;
}

#app {
  position: relative;
  z-index: 10;
}

/* ------------------------------------------------------- */

/* #region classi globali */
.w-100 {
  width: 100%;
}

.aspect-ratio-1 {
  aspect-ratio: 1;
}

.bg-white {
  background-color: #fff;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.rounded-50 {
  border-radius: 50%;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.t-center {
  text-align: center;
}

.upper-case {
  text-transform: uppercase;
}

.block {
  display: block;
}

.mt-32rem {
  margin-top: 3.2rem;
}
/* #endregion */

/* ------------------------------------------------------- */

/* #region Header */
header {
  position: relative;
  width: 100%;
  height: 163px;
  top: -36px;
  box-shadow: 0px 4px 18px -6px #0057ff;
  border-radius: 13px;
  padding: 78.43px 51px 32.3px;
}

header .icon-edusogno {
  height: 52.27px;
  width: 123.14px;
}
/* #endregion */

/* ------------------------------------------------------- */

/* #region background */
.background {
  inset: 0;
  z-index: -10;
}

.background .terrain img:first-of-type {
  bottom: 6rem;
}

.background .circle .big {
  top: 50%;
  transform: translate(-50%, -50%);
  width: 358px;
}

.background .circle .small {
  top: 43%;
  right: 2rem;
  width: 181px;
}

.background .rocket {
  bottom: 3rem;
  right: 13%;
}
/* #endregion */

/* -------------------------------------------------------- */

/* #region Main */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 3rem;
}

main.form {
  max-width: 662px;
}

main h2 {
  font-size: 2rem;
  color: #134077;
  margin-bottom: 1.3rem;
}

main div.card {
  border: 1px solid #134077;
  border-radius: 19px;
  padding: 2rem;
}

main div.card.form {
  margin: 0 0.5rem 0.5rem;
}

main #FORM .form-group label {
  font-size: 0.9rem;
  font-weight: bold;
}

main #FORM .form-group input {
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #2d224c;
  padding: 0.5rem 0;
}

main #FORM .form-group input.error {
  border-bottom: 2px solid red;
}

main button.SUBMIT {
  background-color: #0057ff;
  color: white;
  border: none;
  border-radius: 0.9rem;
  padding: 1.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

main .footer-form,
main .footer-form a {
  color: #2d224c;
}
/* #endregion */

/* ----------------------------------------------------- */

/* #region feedback */

.INVALID {
  display: none;
  margin-bottom: -1.37rem;
}

.INVALID.error {
  color: red;
  display: block;
}

.success {
  display: none;
  border: 1px solid #134077;
  border-radius: 19px;
  padding: 2rem;
  background-color: #fff;
}

.success > div {
  color: #fff;
  background-color: #43dd43;
  border-radius: 15px;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.error-all {
  display: none;
  color: red;
  text-align: center;
  margin: 1rem 0 -2.3rem;
}
/* #endregion */

/* --------------------------------------------------- */

/* #region CARDS */

#CARDS {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 1rem;
  gap: 4rem;
}

#CARDS .card {
  max-width: 349px;
  padding: 31px;
}

#CARDS .card h2 {
  color: #000;
  font-size: 2rem;
  margin: 0 0 0.9rem;
}

#CARDS .card .data {
  color: #ccc;
  font-size: 1.2rem;
  margin: 0 0 1.2rem;
}

#CARDS .card button {
  color: #fff;
  background-color: #0057ff;
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 11px;
  border: none;
  cursor: pointer;
}
/* #endregion */

/* ---------------------------------------------------- */

/* #region camp-password */

.camp-password {
  /* position: relative; */
  display: flex;
  align-items: stretch;
}

.camp-password .eye {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0 1rem;
  border-bottom: 1px solid #2d224c;
  order: 1;
}

.camp-password .eye img {
  display: block;
}
/* #endregion */
